@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p class="display-4">@ViewBag.Test1</p>

    <p class="display-4">
        @foreach(var str in ViewBag.Test2)
        {
            <span>@str</span><br/>
        }
    </p>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
